@import './root.scss';

.mainContainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 12rem;
    user-select: none;

    .aboutUsTitle{
        padding-bottom: 5rem;
        text-align: center;

        h1{
            color: var(--color3);
            font-size: 5rem;
            padding-top: 3rem;
            font-weight: 800;
        }

        p{
            color: var(--color2);
            font-size: 1.6rem;
            font-weight: 300;
        }
    }

    .contactSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: auto;
    }

    .contactLinks{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        text-align: center;

        h2{
            color: var(--color1);
            font-weight: 700;
            font-size: 1.8rem;
            padding: 5rem 0 2rem;
        }

        .cLink{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            a{
                padding: 0.8rem 0;
                font-size: 1.2rem;
                color: var(--color1);
                background: var(--color6);
                border: 2px solid var(--color5);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.7rem;

                &:hover{
                    border: 2px solid var(--color7);
                }

                i{
                    padding-left: 6px;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px){
    .mainContainer{
        padding: 4rem 10rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .mainContainer{
        padding: 4rem 8rem;

        .contactLinks{
            width: 80%;

            .cLink{
                padding: 0 1rem;
            }
        }
    }
}

@media screen and (min-width: 781px) and (max-width: 1024px){
    .mainContainer{
        padding: 4rem 6rem;
    
        .aboutUsTitle{
            padding-bottom: 4rem;
    
            h1{
                font-size: 5rem;
            }
    
            p{
                font-size: 1.5rem;
            }
        }

        .contactSection{
            flex-direction: column-reverse;
            width: 100%;
        }
    
        .contactLinks{
            width: 90%;

            .cLink{
                padding: 0 1rem;
            }
    
            h2{
                padding: 4rem 0 2rem;
            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 780px){
    .mainContainer{
        padding: 4rem 4rem;

        .aboutUsTitle{
            padding-bottom: 3rem;
            padding-top: 2rem;

            h1{
                font-size: 5rem;
            }

            p{
                font-size: 1.5rem;
            }
        }

        .contactSection{
            flex-direction: column-reverse;
            width: 100%;
        }

        .contactLinks{
            width: 100%;

            h2{
                padding: 3rem 0 2rem;
            }

            .cLink{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 640px){
    .mainContainer{
        padding: 4rem 2rem;

        .aboutUsTitle{
            padding-bottom: 3rem;
            padding-top: 2rem;

            h1{
                font-size: 4rem;
            }

            p{
                font-size: 1.5rem;
            }
        }

        .contactSection{
            flex-direction: column-reverse;
            width: 100%;
        }

        .contactLinks{
            border-right: none;
            width: 100%;

            h2{
                padding: 3rem 0 2rem;
            }

            .cLink{
                grid-template-columns: repeat(2, 1fr);
                padding: 0 1rem;
            }
        }
    }
}

@media screen and (min-width: 120px) and (max-width: 480px){
    .mainContainer{
        padding: 4rem 1.5rem;

        .aboutUsTitle{
            padding-bottom: 3rem;
            padding-top: 2rem;

            h1{
                font-size: 4rem;
            }

            p{
                font-size: 1.5rem;
            }
        }

        .contactSection{
            flex-direction: column;
            width: 100%;
        }

        .contactLinks{
            border-right: none;
            width: 100%;

            h2{
                padding: 3rem 0 2rem;
                font-size: 1.8rem;
            }

            .cLink{
                grid-template-columns: repeat(1, 1fr);
                padding: 0;
                gap: 1rem;
            }
        }
    }
}