@import "root";

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 100vh;
    padding: 4rem 25% 0;
    user-select: none;
}

.artwork{
    width: 80%;
    height: auto;
    padding: 4rem 0 2rem;
    
    img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    }
}

.info{
    width: 100%;
    color: var(--color1);
}

.album{
    font-size: 3rem;
    font-family: "IRANSansX700";
    color: var(--color1);
    padding-bottom: 0.5rem;
}

.artist{
    font-size: 1.8rem;
    font-family: "IRANSansX600";
    color: var(--color2);
}

.description{
    font-size: 1.2rem;
    color: var(--color2);
    margin: 2rem 0;
    line-height: 2rem;
    padding: 2rem 1rem;
    border-top: 2px solid var(--color2);
    border-bottom: 2px solid var(--color2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span{
        display: flex;
        font-family: "IRANSansX400";
    }

    .statick{
        color: var(--color1);
        padding-left: 5px;
        font-family: "IRANSansX600";
    }
}

.post{
    height: auto;
    width: 100%;
    padding: 1rem;
    background: var(--color6);
    border-radius: 1rem;
    margin-bottom: 4rem;
    line-height: 2rem;

    .postParagraph{
        color: var(--color1);
        font-family: "IRANSansX400";
        font-size: 1rem;
    }
}

.avai{
    font-family: "IRANSansX600";
    color: var(--color1);
    font-size: 1.5rem;
}

.links{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;

    .soundCloud{
        color: #ff3300;
        border: 2px solid #ff3300;

        &:hover{
            background: #ff3300;
            color: #fff;
        }
    }

    .spotify{
        color: #1DB954;
        border: 2px solid #1DB954;

        &:hover{
            background: #1DB954;
            color: #fff;
        }
    }

    .applePod{
        color: #B150E2;
        border: 2px solid #B150E2;

        &:hover{
            background: #B150E2;
            color: #fff;
        }
    }
    
    a{
        width: 30%;
        // background: var(--color6);
        border-radius: 0.7rem;
        // color: var(--color1);
        padding: 0.9rem;
        text-align: center;
        font-family: "IRANSansX400";
        margin: auto;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            font-size: 1.2rem;
            padding-left: 5px;
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px){
    .wrapper{
        padding: 4rem 20% 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .wrapper{
        padding: 4rem 20% 0;
    }
}
   
@media screen and (min-width: 781px) and (max-width: 1024px){
    .wrapper{
        padding: 4rem 15% 0;
    }
}
    
@media screen and (min-width: 641px) and (max-width: 780px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 4rem 0;
    }

    .artwork{
        width: 100%;
        padding: 4rem 0 2rem;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 3rem;
    }

    .artist{
        font-size: 1.5rem;
    }

    .description{
        font-size: 1.1rem;
        margin: 1rem 0;
        padding: 1rem 0;
    }
}
    
@media screen and (min-width: 481px) and (max-width: 640px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 3rem 0;
    }

    .artwork{
        width: 100%;
        padding: 3rem 0 2rem;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 3rem;
    }

    .artist{
        font-size: 1.5rem;
    }

    .description{
        font-size: 1rem;
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .links{
        flex-direction: column;

        a{
            margin: 1rem auto;
            width: 60%;
        }
    }
}
    
@media screen and (min-width: 120px) and (max-width: 480px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 1.5rem 0;
    }

    .artwork{
        width: 100%;
        padding: 2rem 0 1rem;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 3rem;
    }

    .artist{
        font-size: 1.5rem;
    }

    .description{
        font-size: 1rem;
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .links{
        flex-direction: column;
        justify-content: center;
        padding: 0rem;
        padding-bottom: 5rem;

        a{
            margin: 0.9rem auto;
            width: 80%;
        }
    }
}