@import "root";

.cards{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.card{
    background: var(--color6);
    width: 100%;
    margin-bottom: 3rem;
    user-select: none;
    border-radius: 1rem;
    display: flex;
    padding: 0.7rem;

    .cardPhoto{
        width: 150px;
        height: 150px;

        img{
            width: 150px;
            border-radius: 0.7rem;
        }
    }
}
    
.cardContent{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    
.cardTitle{
    font-size: 1.8rem;
    color: var(--color1);
    font-family: "IRANSansX600";
}

p.cardSubtitle{
    font-size: 1.1rem;
    color: var(--color2);
    font-family: "IRANSansX400";
    padding-bottom: 1rem;
}
    
p.cardP{
    font-size: 1rem;
    color: var(--color1);
    font-family: "IRANSansX300";
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
}

@media screen and (min-width: 1025px) and (max-width: 1280px){


}

@media screen and (min-width: 781px) and (max-width: 1024px){


}

@media screen and (min-width: 641px) and (max-width: 780px){



.card{

    .cardPhoto{
        width: 130px;
        height: 130px;

        img{
            width: 130px;
        }
    }
}

}

@media screen and (min-width: 481px) and (max-width: 640px){

.card{
    margin-bottom: 2rem;

    .cardPhoto{
        width: 120px;
        height: 120px;

        img{
            width: 120px;
        }
    }
}

.cardTitle{
    font-size: 1.6rem;
}

p.cardSubtitle{
    font-size: 1rem;
}
.cardP{
    display: none;
}
}

@media screen and (min-width: 120px) and (max-width: 480px){

.card{

    margin-bottom: 1.5rem;

    .cardPhoto{
        width: 100px;
        height: 100px;

        img{
            width: 100px;
        }
    }
}

.cardTitle{
    font-size: 1.5rem;
}

p.cardSubtitle{
    font-size: 1rem;
}

.cardP{
    display: none;
}
}