@import './root.scss';

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 100vh;
    padding: 4rem 25%;
    user-select: none;
}

.artwork{
    width: 60%;
    height: auto;
    padding: 4rem 0 2rem;
    
    img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    }
}

.info{
    width: 100%;
    color: var(--color1);
}

.album{
    font-size: 2.8rem;
    font-weight: 800;
    color: var(--color1);
    padding-bottom: 0.5rem;
}

.artist{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color2);
}

.description{
    font-size: 1.2rem;
    background: var(--color6);
    border-radius: 1rem;
    color: var(--color2);
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    span{
        display: flex;
        font-family: "IRANSansX400";
        line-height: 1.8rem;
        font-size: 1rem;
    }

    .statick{
        color: var(--color1);
        padding-left: 5px;
        font-family: "IRANSansX500";
    }
}

.commentContainer{
    position: relative;
    padding-right: 2.3rem;
    
    img{
        position: absolute;
        width: 2rem;
        bottom: -7px;
        right: -10px;
        border-radius: 50%;
    }
}

.comment{
    height: auto;
    width: 100%;
    padding: 1rem 1.5rem 2rem;
    background: var(--color6);
    border-radius: 2rem;
    line-height: 2rem;
    margin: 2rem 0;
    position: relative;

    h2{
        font-weight: 600;
        color: var(--color1);
        font-size: 1.3em;
        padding-bottom: 0.5rem;
    }

    i{
        position: absolute;
        bottom: -5px;
        right: -1rem;
        font-size: 2.8rem;
        transform: rotate(22deg);
        color: var(--color6);
    }

    .commentParagraph{
        text-align: justify;
        color: var(--color1);
        font-family: "IRANSansX300";
        font-size: 1rem;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px){
    .wrapper{
        padding: 4rem 20%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .wrapper{
        padding: 4rem 20%;
    }
}
   
@media screen and (min-width: 781px) and (max-width: 1024px){
    .wrapper{
        padding: 4rem 15%;
    }
}
    
@media screen and (min-width: 641px) and (max-width: 780px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 4rem;
    }

    .artwork{
        width: 70%;
        padding: 4rem 0 2rem;
    }

    .album{
        font-size: 2.5rem;
    }

    .artist{
        font-size: 1.5rem;
    }

    .description{
        font-size: 1.1rem;
        margin: 1rem 0;
    }
}
    
@media screen and (min-width: 481px) and (max-width: 640px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 3rem;
    }

    .artwork{
        width: 80%;
        padding: 3rem 0 2rem;
    }

    .album{
        font-size: 2.5rem;
    }

    .artist{
        font-size: 1.5rem;
    }

    .description{
        font-size: 1rem;
        margin: 1rem 0;
    }
}
    
@media screen and (min-width: 120px) and (max-width: 480px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 1rem;
    }

    .artwork{
        width: 90%;
        padding: 2rem 0 1rem;
    }

    .album{
        font-size: 2rem;
    }

    .artist{
        font-size: 1.2rem;
    }

    .description{
        font-size: 1rem;
        margin: 1rem 0;
    }
}