@import './root.scss';

footer{
    padding: 1rem;
    background: var(--color6);
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color2);

    p{
        font-size: 0.8rem;
        font-family: "IRANSansX500";

        a{
            color: var(--color4);
            font-family: "IRANSansX600";
            font-size: 0.9rem;
        }
    }
}

@media screen and (min-width: 120px) and (max-width: 480px){
    
    .copyright{
        flex-direction: column;
        line-height: 1.8rem;
    }
}