@import './root.scss';

.itemContainer{
    padding: 10rem 5rem 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .itemTitle{
        padding-bottom: 1rem;

        h2{
            font-size: 2.8rem;
            text-align: center;
            font-family: "IRANSansX900";
            color: var(--color1);
        }
    }

    .itemText p{
        color: var(--color2);
        text-align: center;
        line-height: 1.8rem;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .itemContainer{
        padding: 10rem 5rem 5rem;
    }
}
    
@media screen and (min-width: 1025px) and (max-width: 1280px){

    .itemContainer{
        padding: 10rem 5rem 4rem;
    }
}
    
@media screen and (min-width: 781px) and (max-width: 1024px){
    
    .itemContainer{
        padding: 8rem 4rem 4rem;
    }
}
    
@media screen and (min-width: 641px) and (max-width: 780px){
    
    .itemContainer{
        padding: 8rem 3rem 4rem;
    }
}
    
@media screen and (min-width: 481px) and (max-width: 640px){
    
    .itemContainer{
        padding: 8rem 2rem 4rem;
    }
}
    
@media screen and (min-width: 120px) and (max-width: 480px){
    
    .itemContainer{
        padding: 8rem 20px 4rem;
        
        .itemamsedaTitle{
        
            h2{
                font-size: 2.7rem;
            }
        }
    }
}