@import './root.scss';

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 100vh;
    padding: 80px 5rem 0;
    user-select: none;
}

.artwork{
    width: 40%;
    height: auto;
    
    img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    }
}

.info{
    width: 50%;
    color: var(--color1);
    border-radius: 1rem;
    padding: 2rem 1rem 0;
    background: var(--color6);
}

.podcastInfo{
    line-height: 1.8rem;
}

.episodeDesc{
    font-family: "IRANSansX500";
    color: var(--color1);
    font-size: 1rem;
}

.album{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color1);
}

.artist{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color2);
    padding: 1.5rem 0;
}

.description{
    font-size: 1.2rem;
    color: var(--color2);
    margin: 1rem 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span{
        display: flex;
        font-size: 1.1rem;
        font-family: "IRANSansX400";
        line-height: 2rem;
    }

    .statick{
        color: var(--color1);
        padding-left: 5px;
        font-family: "IRANSansX400";
    }
}

.avai{
    font-weight: 600;
    color: var(--color1);
    font-size: 1.5rem;
}

.links{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;

    .soundCloud{
        color: #ff3300;
        background: var(--color7);
        transition: all 0.3s;

        &:hover{
            color: #fff;
            background: #ff3300;
        }
    }

    .spotify{
        color: #1DB954;
        background: var(--color7);

        &:hover{
            color: #fff;
            background: #1DB954;
        }
    }

    .applePod{
        color: #9c36d7;
        background: var(--color7);

        &:hover{
            color: #fff;
            background: #9c36d7;
        }
    }
    
    a{
        width: 30%;
        border-radius: 0.7rem;
        padding: 0.9rem;
        text-align: center;
        font-weight: 400;
        margin: auto;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;

        i{
            font-size: 1.5rem;
            padding-left: 5px;
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px){
    .wrapper{
        padding: 4rem 4rem 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .wrapper{
        padding: 4rem 3rem 0;
    }
}
   
@media screen and (min-width: 781px) and (max-width: 1024px){
    .wrapper{
        padding: 4rem 2rem 0;
    }
}
    
@media screen and (min-width: 641px) and (max-width: 780px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 4rem;
    }

    .artwork{
        width: 100%;
        padding: 4rem 0;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 2.5rem;
    }

    .artist{
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .description{
        font-size: 1.1rem;
        margin: 1rem 0;
        padding: 1rem 0;
    }
}
    
@media screen and (min-width: 481px) and (max-width: 640px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 3rem;
    }

    .artwork{
        width: 100%;
        padding: 3rem 0;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 2.5rem;
    }

    .artist{
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .description{
        font-size: 1rem;
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .links{
        flex-direction: column;

        a{
            margin: 1rem auto;
            width: 60%;
        }
    }
}
    
@media screen and (min-width: 120px) and (max-width: 480px){
    .wrapper{
        flex-direction: column-reverse;
        padding: 4rem 2rem;
    }

    .artwork{
        width: 100%;
        padding: 2rem 0;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 2rem;
    }

    .artist{
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }

    .description{
        font-size: 1rem;
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .links{
        flex-direction: column;
        justify-content: center;

        a{
            margin: 0.9rem auto;
            width: 80%;
        }
    }
}