.rapWVise, .hamseda, .top10, .comments{
    padding: 4rem 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .tTitle, .rTitle, .cTitle, .hTitle{
        padding: 5rem 0;

        h1, h2{
            font-size: 3rem;
            font-family: "IRANSansX900";
            background: rgba(158,0,255,1);
            background: linear-gradient(135deg, rgba(158,0,255,1), rgba(255,0,35,1));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .rText, .hText, .cText, .tText{
        color: var(--color2);
    }

    .links{
        display: flex;
        justify-content: center;
        align-items: center;

        .link{
            display: flex;
            border-radius: 1rem;
            color: var(--color1);
            background: var(--color6);
            flex-direction: column;
            margin: 3rem 2rem;
            align-items: center;
            justify-content: center;

            .linkPhoto{

            }

            .linkContent{

                h2{
                    
                }
            }
        }
    }
}

.rapWVise{
    background: var(--color6);

    // .rTitle{

    // }
}

.hamseda{
    background: var(--color5);

    // .hTitle{

    // }
}

.comments{
    background: var(--color5);

    // .cTitle{

    // }
}

.top10{
    background: var(--color6);

    // .tTitle{

    // }
}