*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s;
    letter-spacing: -0.5px;
    font-family: "Anjoman";
}

@font-face{
	font-family: "IRANSansX100";
	font-style: normal;
	font-weight: 100;
	src: url('https://bayanbox.ir/download/5415560366092421432/IRANSansX-Thin.woff') format('woff');
}

@font-face{
	font-family: "IRANSansX200";
	font-style: normal;
	font-weight: 200;
	src: url('https://bayanbox.ir/download/3241799735151926648/IRANSansX-UltraLight.woff') format('woff');	
}

@font-face{
	font-family: "IRANSansX300";
	font-style: normal;
	font-weight: 300;
	src: url('https://bayanbox.ir/download/5152125753991914710/IRANSansX-Light.woff') format('woff');		 
}

@font-face{
  font-family: "IRANSansX400";
  font-style: normal;
  font-weight: normal;
  src: url('https://bayanbox.ir/download/326925239823018211/IRANSansX-Regular.woff') format('woff');	
}

@font-face{
	font-family: "IRANSansX500";
	font-style: normal;
	font-weight: 500;
	src: url('https://bayanbox.ir/download/86180090515009736/IRANSansX-Medium.woff') format('woff');		 
}

@font-face{
	font-family: "IRANSansX600";
	font-style: normal;
	font-weight: 600;
	src: url('https://bayanbox.ir/download/5002150865348523055/IRANSansX-DemiBold.woff') format('woff');	 
}

@font-face{
  font-family: "IRANSansX700";
  font-style: normal;
  font-weight: bold;
  src: url('https://bayanbox.ir/download/4771387777500034831/IRANSansX-Bold.woff') format('woff');	 
}

@font-face{
	font-family: "IRANSansX800";
	font-style: normal;
	font-weight: 800;
	src: url('https://bayanbox.ir/download/1596263448340612131/IRANSansX-ExtraBold.woff') format('woff');		 
}

@font-face{
	font-family: "IRANSansX900";
	font-style: normal;
	font-weight: 900;
	src: url('https://bayanbox.ir/download/3926753744644348942/IRANSansX-Black.woff') format('woff');		 
}

.lightMode{
  --color1: #050505;
  --color2: #656565;
  --color3: #de006f;
  --color4: #cc0093;
  --color5: #e3e4e8;
  --color6: #f3f4f8;
  --color7: #d3d4d8;
  --color8: #0072F5;
  background: var(--color5);
  direction: rtl;
}

.darkMode{
  --color1: #fafafa;
  --color2: #858585;
  --color3: #de006f;
  --color4: #cc0093;
  --color5: #131418;
  --color6: #232428;
  --color7: #333438;
  --color8: #0072F5;
  background: var(--color5);
  direction: rtl;
}