@import './root.scss';

.sForm{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
    background: var(--color5);
}

.title h1{
    text-align: center;
    cursor: default;
    font-size: 2.5rem;
    user-select: none;
    color: var(--color3);
    font-family: "IRANSansX900";
}

.signup{
    display: flex;
    flex-direction: column;
    background: var(--color5);
    width: 450px;
    height: auto;
    padding: 2.5rem;
    border-radius: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    padding: 1.2rem 0;

    .input{
        display: flex;
        flex-direction: column;
        margin: 14px 0;

        .placeholder{
            font-size: 1rem;
            user-select: none;
            color: var(--color2);
            padding-bottom: 0.5rem;
            font-family: "IRANSansX500";
        }

        .errMsg{
            font-size: 12px;
            height: 12px;
            user-select: none;
            color: #ff3232;
            padding-top: 0.5rem;
            font-family: "IRANSansX400";
        }

        div{
            padding: 0.5rem;
            display: flex;
            background: var(--color6);
            border-radius: 0.7rem;
            font-size: 1.2rem;
            color: var(--color1);
            align-items: center;

            i{
                color: var(--color1);
            }

            input{
                font-size: 1.2rem;
                padding-right: 0.5rem;
                width: 100%;
                outline: none;
                border: none;
                color: var(--color1);
                background: var(--color6);
            }
        }
    }
}

.submit button{
    width: 100%;
    padding: 12px 0;
    margin: 1rem 0 2rem;
    font-size: 1.2rem;
    background: var(--color8);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-family: "IRANSansX400";
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.leftSide{
    width: 350px;
}

.rightSide{
    padding-right: 3rem;
    border-right: 2px solid var(--color7);
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options{
    text-align: center;
    // padding-top: 2rem;

    p{
        color: var(--color2);
        font-size: 0.9rem;
    }
    
    a{
        color: var(--color4);
        font-size: 1rem;
    }
}

.socialLoginButtons{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.socialLoginButton{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    font-family: "IRANSansX500";
    padding: 0.7rem 0;
    font-size: 1rem;
    border-radius: 0.7rem;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color7);
    color: var(--color1);

    &:last-child{
        margin-bottom: 0;
    }

    i{
        color: var(--color1);
        font-size: 1.1rem;
        padding-left: 0.2rem;
    }
}

@media screen and (min-width: 641px) and (max-width: 780px){
    .signup{
        flex-direction: column;
    }

    .rightSide{
        padding-top: 1.8rem;
        border-top: 1px solid var(--color7);
        margin-top: 1.8rem;
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
        display: block;
    }

    .socialLoginButton{
        width: 70%;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px){
    .signup{
        flex-direction: column;
    }

    .rightSide{
        padding-top: 1.8rem;
        border-top: 1px solid var(--color7);
        margin-top: 1.8rem;
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
        display: block;
    }

    .socialLoginButton{
        width: 70%;
    }
}

@media screen and (min-width: 120px) and (max-width: 480px){

    .title h1{
        font-size: 2.3rem;
    }
    
    .signup{
        width: 100%;
        flex-direction: column;
        padding: 1.5rem 1rem;
        border: none;
    }
    
    .leftSide{
        width: 100%;
    }
    
    .rightSide{
        padding-top: 1.8rem;
        border-top: 1px solid var(--color7);
        margin-top: 1.8rem;
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
        display: block;
    }
    
    .socialLoginButton{
        width: 70%;
    }
}