@import "root";

.sForm{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
    background: var(--color5);
}

.title h1{
    text-align: center;
    cursor: default;
    font-size: 2.2rem;
    user-select: none;
    background: rgba(158,0,255,1);
    background: linear-gradient(135deg, rgba(158,0,255,1), rgba(255,0,35,1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "IRANSansX900";
}

.signup{
    display: flex;
    background: var(--color5);
    width: auto;
    height: auto;
    padding: 2.5rem;
    border-radius: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    padding: 1.2rem 0;

    .input{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        .placeholder{
            font-size: 1rem;
            user-select: none;
            color: var(--color2);
            padding-bottom: 0.5rem;
            font-family: "IRANSansX500";
        }

        div{
            padding: 0.5rem;
            display: flex;
            background: var(--color6);
            border-radius: 0.7rem;
            font-size: 1.2rem;
            color: var(--color1);
            align-items: center;

            input{
                font-size: 1.2rem;
                padding-right: 0.5rem;
                width: 100%;
                outline: none;
                border: none;
                color: var(--color1);
                background: var(--color6);
            }
        }
    }
}

.submit button{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background: var(--color5);
    border: 2px solid var(--color4);
    color: var(--color4);
    cursor: pointer;
    transition: all 0.2s;
    font-family: "IRANSansX400";
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    
    &:hover{
        background: var(--color4);
        color: #fff;
    }
}

.leftSide{
    width: 350px;
}

.rightSide{
    padding-right: 3rem;
    border-right: 2px solid var(--color7);
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options{
    text-align: center;

    p{
        color: var(--color2);
        font-size: 0.9rem;
        font-family: "IRANSansX400";
    }
    
    a{
        color: var(--color3);
        font-family: "IRANSansX600";
    }
}

.socialLoginButtons{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.socialLoginButton{
    width: 100%;
    margin: auto;
    margin-bottom: 0.7rem;
    font-family: "IRANSansX500";
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 0.7rem;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child{
        margin-bottom: 0;
    }
}

.bxl{
    font-size: 1.1rem;
    padding-left: 0.2rem;
}

.google{
    background: #fafafa;
    color:rgba(0, 0, 0, 0.65);
}

.apple{
    background: #000;
    color: #fff;
}

.facebook{
    background: #1877f2;
    color: #fff;
}

@media screen and (min-width: 120px) and (max-width: 480px){

    .sForm{
        background: var(--color5);
    }

    .title h1{
        font-size: 2rem;
    }
    
    .signup{
        width: 100%;
        flex-direction: column;
        padding: 1.5rem;
        border: none;
    }
    
    .leftSide{
        width: 100%;
    }
    
    .rightSide{
        padding-top: 1.8rem;
        border-top: 1px solid var(--color7);
        margin-top: 1.8rem;
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
        display: block;
    }
    
    .socialLoginButton{
        width: 70%;
    }
}